<% expanded ||= false %>

<%= turbo_stream_from :cookbook %>

<div class="side-panel <%= expanded ? 'is-expanded' : '' %>" data-cookbook-target="panel">
  <span
    class="button m-3 is-link <%= expanded ? 'is-focused' : '' %>"
    data-action="click->cookbook#togglePanel"
    data-cookbook-target="toggle"
  >
    <span class="icon">
      <i class="fas fa-bookmark <%= expanded ? 'is-hidden' : '' %>" data-cookbook-target="toggleIcon"></i>
      <i class="fas fa-times <%= expanded ? '' : 'is-hidden' %>" data-cookbook-target="toggleIcon"></i>
    </span>
  </span>

  <div class="side-panel-body px-3 pb-3 <%= expanded ? '' : 'is-hidden' %>" data-cookbook-target="content">
    <%= turbo_frame_tag :recipes, src: cookbook_recipes_url(format: :turbo_stream), class: 'is-block' do %>
      <progress class="progress is-primary" max="100">0%</progress>
    <% end %>
  </div>
</div>

<div class="resource-container recipe pb-3" id="recipe" data-turbo>
  <%= yield %>
</div>