<%= form_with(model: recipe, scope: :recipe) do |form| %>

  <div class="block">
    <%= render Form::Input::ImageComponent.new(form: form, attr: :cover_image, model: recipe) %>

    <%= render Form::Input::TextComponent.new(form: form, attr: :name, model: recipe) %>

    <%= render Form::Input::LimitedTextareaComponent.new(form: form, attr: :description, model: recipe, limit: 200, fixed: true) %>

    <%= render Form::Input::NumericComponent.new(form: form, attr: :portions, model: recipe) %>

    <%= render Form::Input::RichTextareaComponent.new(form: form, attr: :preparation, model: recipe) %>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit class: 'button is-primary' %>
      <%= link_to 'Back', '#', class: 'button', data: { action: 'click->main-ux#closeModal' } %>
    </div>
  </div>
<% end %>
