<%
  recipe_header_content_class = %w[header-content p-3 pt-6 mt-3]
  recipe_header_content_class << 'has-cover-image' if recipe.cover_image.attached?
%>

<div class="header has-background-link-light">
  <div class="<%= recipe_header_content_class.join(' ') %>">
    <h1 class="title <%= recipe.cover_image.attached? ? 'has-text-white' : '' %>"><%= @recipe.name %></h1>
    <p class="subtitle <%= recipe.cover_image.attached? ? 'has-text-white' : '' %> is-5">For <%= pluralize @recipe.portions, 'person' %></p>
  </div>
  <% if recipe.cover_image.attached? %>
    <%= image_tag recipe.cover_image %>
  <% end %>
</div>

<div class="message mx-3 my-2">
  <div class="message-body">
    <% if @recipe.description.present? %>
      <%= @recipe.description %>
    <% else %>
      <i>Insert catchy short description...</i>
    <% end %>
  </div>
</div>

<div data-controller="tabs" class="mx-3">
  <div class="tabs mb-5 is-boxed is-fullwidth">
    <ul>
      <% %w[Preparation Ingredients].each do |tab| %>
        <li
          class="<%= tab.downcase == 'preparation' ? 'is-active' : '' %>"
          data-action="click->tabs#showTab"
          data-target-tab="<%= tab.downcase %>"
          data-tabs-target="link"
        >
          <a><%= tab %></a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="" data-tabs-target="tab" data-tab-name="preparation">
    <% if recipe.preparation.present? %>
      <%= recipe.preparation %>
    <% else %>
      <i>Insert a comprehensive and detailed list preparation instructions...</i>
    <% end %>
  </div>

  <div class="is-hidden" data-tabs-target="tab" data-tab-name="ingredients">
    <%= turbo_frame_tag :ingredients, src: cookbook_recipe_recipe_ingredients_url(recipe, format: :turbo_stream), class: 'is-block' do %>
      <progress class="progress is-primary" max="100">0%</progress>
    <% end %>
  </div>
</div>
