<% expanded ||= false %>

<%= turbo_stream_from :diet %>

<div class="side-panel diet <%= expanded ? 'is-expanded' : '' %>" data-diet-target="panel">
  <div
    class="button is-link m-3 <%= expanded ? 'is-focused' : '' %>"
    data-diet-target="toggle"
    data-action="click->diet#toggle"
  >
    <span class="icon">
      <i
        class="fas fa-calendar <%= expanded ? 'is-hidden' : '' %>"
        data-diet-target="toggleIcon"
      ></i>
      <i
        class="fas fa-times <%= expanded ? '' : 'is-hidden' %>"
        data-diet-target="toggleIcon"
      ></i>
    </span>
  </div>

  <%= turbo_frame_tag :calendar,
                      src: calendar_diet_menu_url(id: date_as_calendar_id(@today), format: :turbo_stream),
                      class: "calendar m-0 p-3 mt-auto #{expanded ? '' : 'is-hidden'}",
                      data: {
                        controller: 'calendar',
                        calendar_selected_value: date_as_id(@today),
                        calendar_base_url_value: diet_menu_index_url,
                        diet_target: 'content'
                      } do %>
  <% end %>
</div>

<%= turbo_frame_tag :menu,
                    src: diet_menu_menu_items_url(menu_id: date_as_id(@today), format: :turbo_stream),
                    class: "resource-container diet pb-3" do %>
  <div class="mt-6 pt-6 mx-3">
    <progress class="progress is-primary" max="100">0%</progress>
  </div>
<% end %>