<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ktchn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body data-controller="layout" class="is-clipped">
    <%= render Layout::Navigation::Component.new visible: navigating?, in_root: in_root? do |nav| %>
      <%
        nav.links [
                    {
                      text: 'Cookbook',
                      url: cookbook_recipes_url,
                      icon_name: 'book-open',
                      active: active_nav_link(:cookbook)
                     },
                    {
                      text: 'Diet',
                      url: diet_menu_index_url,
                      icon_name: 'calendar',
                      active: active_nav_link(:diet)
                    },
                    {
                      text: 'Inventory',
                      url: '#',
                      icon_name: 'boxes',
                      active: active_nav_link(:list)
                    },
                    {
                      text: 'Shopping List',
                      url: '#',
                      icon_name: 'shopping-basket',
                      active: active_nav_link(:list)
                    },
                  ]
      %>
    <% end %>

    <%= render Layout::Applet::Component.new data_controller: applet_data_controller, visible: !navigating?, in_root: in_root? do |applet| %>
      <%= applet.controls do %>
        <%= turbo_frame_tag :applet_controls do %>
          <div class="buttons">
            <%= yield :applet_controls %>
          </div>
        <% end %>
      <% end %>

      <%= applet.applet do %>
        <%= yield :applet %>
      <% end %>
    <% end %>

    <%= render Layout::AuxiliaryPanel::Component.new do %>
      <%= yield :auxiliary_panel %>
    <% end %>
  </body>
</html>
