<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ktchn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <%
    navigation_class =      toggle_visibility force: navigating?,
                                              klass: %w[navigation has-background-primary is-flex is-flex-direction-column is-justify-content-space-evenly is-align-items-center is-relative]

    applet_class =          toggle_visibility force: !navigating?,
                                              klass: %w[applet]
  %>

  <body data-controller="layout" class="is-clipped">
    <nav
      data-layout-target="navigation"
      class="<%= navigation_class %>"
    >
      <% unless in_root? %>
        <div class="cancel p-3">
          <div class="button is-primary" data-action="click->layout#toggleNavigation">
            <span class="icon">
              <span class="fas fa-times"></span>
            </span>
          </div>
        </div>
      <% end %>
      <%=
        render Nav::LinkComponent.new url: cookbook_path,
                                      text: 'Cookbook',
                                      icon_class: %w[fas fa-book-open],
                                      active: active_nav_link(:cookbook)
      %>

      <%=
        render Nav::LinkComponent.new url: '#',
                                      text: 'Diet',
                                      icon_class: %w[fas fa-calendar],
                                      active: active_nav_link(:diet)
      %>

      <%=
        render Nav::LinkComponent.new url: '#',
                                      text: 'List',
                                      icon_class: %w[fas fa-shopping-basket],
                                      active: active_nav_link(:list)
      %>
    </nav>

    <% unless in_root? %>
      <div
        data-layout-target="applet"
        class="<%= applet_class %>"
        data-controller="<%= applet_data_controller %>"
      >
        <div
          class="controlbar is-flex is-justify-content-space-between p-3 has-background-primary-light"
        >
          <div class="button is-primary">
            <span
              class="icon is-large"
              data-action="click->layout#toggleNavigation"
            >
              <span class="fas fa-bars"></span>
            </span>
          </div>
          <%= turbo_frame_tag :applet_controls do %>
            <div class="buttons">
              <%= yield :applet_controls %>
            </div>
          <% end %>
        </div>
        <div class="main-display m-0 p-0">
          <%= yield :applet %>
        </div>
      </div>
    <% end %>

    <%= render Layout::ModalComponent.new do %>
      <%= yield :auxiliary_panel %>
    <% end %>
  </body>
</html>
