<%
  edit ||= false

  url = if edit
          diet_menu_menu_item_url(menu_item, menu_id: date_as_id(menu_item.date || @date))
        else
          diet_menu_menu_items_url(menu_id: date_as_id(menu_item.date || @date))
        end

  method = edit ? :put : :post
%>

<%= form_with(model: menu_item,
              url: url,
              scope: :menu_item,
              method: method,
              data: {
                controller: 'searchable diet-menu-item',
                searchable_endpoint_value: search_diet_recipes_url(format: :turbo_stream)
              }) do |form| %>
  <%= form.hidden_field :recipe_id, data: { diet_menu_item_target: 'id' } %>

  <div class="block">
    <%= form.fields_for :recipe, menu_item.recipe do |recipe_form| %>
      <% cover_image = menu_item.recipe&.cover_image %>

      <div class="field">
        <div class="control is-flex is-justify-content-center">
          <%=
            image_tag cover_image.present? ? cover_image : '',
                      class: "rounded-image mb-2 #{ cover_image.present? ? '' : 'is-hidden' }",
                      data: { diet_menu_item_target: 'preview' }
          %>
        </div>
      </div>

      <div class="buttons is-centered m-0 p-0" id="recipe_search_results"></div>

      <div class="field">
        <%= recipe_form.label :name, 'Recipe', class: 'label' %>
        <div class="control">
          <%=
            recipe_form.text_field :name,
                                   class: 'input',
                                   data: {
                                     action: 'change->searchable#search keyup->searchable#search',
                                     diet_menu_item_target: 'name'
                                   }
          %>
        </div>
        <% if menu_item.errors&.full_messages_for(:recipe)&.any? %>
          <% menu_item.errors.full_messages_for(:recipe).each do |error| %>
            <p class="help is-danger"><%= error %></p>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <%= render Form::Input::NumericComponent.new(form: form, attr: :portions, model: menu_item) %>

    <div class="field">
      <%= form.label :date, class: 'label' %>
      <div class="control">
        <%= form.date_field :date, class: 'input' %>
      </div>
      <% if menu_item.errors&.full_messages_for(:date)&.any? %>
        <% menu_item.errors.full_messages_for(:date).each do |error| %>
          <p class="help is-danger"><%= error %></p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="buttons is-centered pb-3">
    <%= form.submit class: 'button is-primary', data: { action: 'click->layout#requestFromButton' } %>
    <%= render Layout::CloseModalComponent.new %>
  </div>
<% end %>